<%= stylesheet_link_tag "items" %>

<h1>Items</h1>

<section class="d-flex flex-wrap items-list">
  <% @items.each do |item| %>
    <div
      class="
      card
      bg-light
      item-card
    ">
      <h5
        class="
          card-header
          card-title
          bg-secondary
      ">
        <%= item.name %>
      </h5>

      <div class="card-body">
        <h6
          class="
            card-subtitle
            text-muted
            mb-2
        ">
          Cost: <%= item.price %>$
        </h6>

        <p class="card-text">
          <%= item.description %>
        </p>
        
        <div class="d-flex justify-content-end">
          <%=
            link_to 'View more',
            item,
            class:"
              card-link
              btn
              btn-outline-secondary
          "%>

          <%=
            link_to 'Add to cart',
            item,
            class:"
              card-link
              btn
              btn-dark
          "%>
        </div>
      </div>
    </div>
  <% end %>
</section>
