<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= link_to "Destroy this item", admin_items_delete_path(@item), method: :delete %>
</div>
