<p style="color: green"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">
    <%= @item.name %>
  </h1>

  <p class="lead">
    <%= @item.description %>
  </p>
  
  <hr class="my-4">

  <p>
    Cost: $<%= @item.price %>
  </p>
  
  <p class="lead d-flex justify-content-end">
    <%=
      link_to "Back to items",
      items_path,
      class:"
        btn
        btn-outline-secondary
        btn-lg
        mx-3
    "%>

    <%=
      link_to "Add to cart",
      items_path,
      class:"
        btn
        btn-dark
        btn-lg
    "%>
  </p>
</div>
