<div class="mb-3">
  <nav
    class="
      navbar
      navbar-dark
      navbar-expand-lg
      bg-dark
      sticky-top
  ">
    <div
      class="
        container-fluid
        d-flex
        justify-content-between
    ">
      <%=
        link_to 'orderAPP',
        root_path,
        class:"navbar-brand"
      %>

    <ul
      class="
        navbar-nav
        mb-lg-0
        flex-row
    ">
        <li class="nav-item px-3">
          <%=
            link_to 'Items',
            items_path,
            class:"nav-link"
          %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item px-3">
            <%=
              link_to current_user.first_name + ' ' + current_user.last_name,
              edit_user_registration_path,
              class:"nav-link"
            %>
          </li>

          <li class="nav-item px-3">
            <%=
              link_to 'Sign out',
              destroy_user_session_path,
              class:"nav-link"
            %>
          </li>
        <% else %>
          <li class="nav-item px-3">
            <%=
              link_to 'Sign in',
              new_user_session_path,
              class:"nav-link"
            %>
          </li>

          <li class="nav-item px-3">
            <%=
              link_to 'Sign up',
              new_user_registration_path,
              class:"nav-link"
            %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <% if user_signed_in? && current_user.role == 'ADMIN' %>
    <%= render 'layouts/admin_panel' %>
  <% end %>
</div>
